<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

    <title>Grandevoyager</title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/logo/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logo/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logo/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/logo/site.webmanifest' %}">

    <!-- google fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" href="{% static 'css/vendors.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/icon.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
    <link rel="stylesheet" href="{% static 'demos/green-energy/green-energy.css' %}"/>
	
<style>
    .about-banner{
        background-image: url("{% static 'images/about-banner.png' %}");
    }
</style>

</head>
<body data-mobile-nav-style="classic">

    {% include 'components/navbar.html' %}

    <!-- start page title -->
    <section class="top-space-margin overflow-hidden p-0 bg-very-light-gray page-title-big-typography">
        <div class="container-fluid p-0">
            <div class="row justify-content-center small-screen sm-h-400px g-0">
                <div class="col-md-6 d-flex justify-content-center flex-column ps-7 pe-15px sm-ps-15px cover-background banner-background text-white text-md-start text-center page-title-large" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                    <h1 class="fw-600 mb-10px ls-minus-2px">About us</h1>
                </div>
                <div class="col-md-6">
                    <div class="h-100 position-relative cover-background sm-pt-50px about-banner" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- start section -->  
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-md-center g-xl-0 g-1"> 
                <div class="col-lg-6 col-md-10 text-end md-mb-10 sm-mb-15" data-anime='{"opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'> 
                    <figure class="position-relative m-0">
                        <img class="lg-w-90 border-radius-10px" src="{% static 'images/about-one.png' %}" alt="about">
                        <!--<figcaption class="position-absolute box-shadow-double-large border-radius-8px overflow-hidden bottom-minus-50px lg-bottom-minus-30px left-0px xl-left-minus-20px lg-left-0px w-300px lg-w-250px pt-60px pb-60px lg-pt-50px lg-pb-50px ps-5px pe-5px text-center cover-background bg-base-color" data-bottom-top="transform: translateY(-50px)" data-top-bottom="transform: translateY(50px)">
                            <span class="fs-65 text-white ls-minus-4px position-relative fw-600">6145+</span>
                            <span class="d-block mx-auto fs-20 lh-26 w-70 text-center text-white">Projects completed in last 5 years.</span>
                        </figcaption> -->
                    </figure>
                </div> 
                <div class="col-md-10 col-xl-5 offset-xl-1 col-lg-6" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'> 
                    <div class="mb-10px">
                        <span class="w-30px h-2px fs-15 d-inline-block bg-base-color me-5px align-middle"></span>
                        <span class="text-uppercase text-base-color fs-16 fw-600 d-inline-block">About GrandeVoyager</span>
                    </div>
                    <h3 class="text-dark-gray fw-700 ls-minus-2px">Where Complex Freight Finds Clarity</h3>
                    <p class="w-80 sm-w-100">Grande Voyager Logistics FZE is a freight solutions company built on speed, precision, and clarity. Based in Jebel Ali Freezone, we support global trade through reliable shipping, expert cargo handling, and thoughtful coordination, whether it's a single vehicle, a warehouse of inventory, or an oversized load bound for a remote site. We specialize in RORO shipping from China to the UAE, warehousing and packaging services, and complex cargo moves including heavy lift and out-of-gauge freight. </p>
                    <div class="mb-20px">
                        <!-- start features box item -->
                        <div class="icon-with-text-style-08 mb-10px">
                            <div class="feature-box feature-box-left-icon-middle">
                                <div class="feature-box-icon feature-box-icon-rounded w-40px h-40px bg-very-light-green rounded-circle me-10px">
                                    <i class="fa-solid fa-check fs-14 text-dark-gray"></i> 
                                </div>
                                <div class="feature-box-content"> 
                                    <span class="text-dark-gray fw-600">Faster Logistics Solutions with Minimal Delays</span>
                                </div>
                            </div>
                        </div>
                        <!-- end features box item -->
                        <!-- start features box item -->
                        <div class="icon-with-text-style-08">
                            <div class="feature-box feature-box-left-icon-middle">
                                <div class="feature-box-icon feature-box-icon-rounded w-40px h-40px bg-very-light-green rounded-circle me-10px">
                                    <i class="fa-solid fa-check fs-14 text-dark-gray"></i> 
                                </div>
                                <div class="feature-box-content"> 
                                    <span class="text-dark-gray fw-600">Specialized Freight Handling You Can Trust</span>
                                </div>
                            </div>
                        </div>
                        <!-- end features box item -->
                    </div>
                    <div class="d-inline-flex flex-wrap">
                        <a href="{% url 'services' %}" class="btn btn-extra-large btn-base-color btn-rounded btn-switch-text btn-box-shadow d-inline-block me-20px mt-15px sm-me-10px align-middle left-icon">
                            <span>
                                <span><i class="feather icon-feather-thumbs-up"></i></span>
                                <span class="btn-double-text ls-minus-05px" data-text="Explore services">Explore services</span>
                            </span>
                        </a>
                        <div class="feature-box feature-box-left-icon-middle xs-m-10px mt-15px">
                            <div class="feature-box-icon feature-box-icon-rounded bg-very-light-green w-65px h-65px rounded-circle me-10px">
                                <i class="feather icon-feather-phone-call icon-extra-medium text-dark-gray"></i>
                            </div>
                            <div class="feature-box-content">
                                <span class="d-block fs-14">Have any question?</span>
                                <a href="tel:+971553698223" class="d-block text-dark-gray text-dark-gray-hover fs-22 fw-700 ls-minus-1px">+971 55 369 8223</a>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
        </div>
    </section>
    
    <!-- start section -->
    <section class="cover-background bg-very-light-green">
        <div class="container"> 
            <div class="row mb-4 sm-mb-30px text-center">
                <div class="col" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                    <span class="fs-16 text-uppercase text-base-color fw-600 mb-5px d-block">Why choose us</span>
                    <h2 class="fw-700 mb-0 text-dark-gray ls-minus-2px">Why Grande Voyager?</h2>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 justify-content-center" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
                <!-- start features box item -->
                <div class="col custom-icon-with-text-style-02 border-end border-color-transparent-dark-very-light xs-border-end-0 md-mb-30px">
                    <div class="feature-box last-paragraph-no-margin">
                        <div class="feature-box-icon">
                            <img class="custom-image-icon mb-30px" src="{%  static 'images/speed.png' %}" alt="icon" />
                        </div>
                        <div class="feature-box-content">
                            <span class="d-block fs-20 fw-600 text-dark-gray mb-10px">Speed When It Counts</span>
                            <p class="w-80 xl-w-100 mx-auto">We prioritize fast turnarounds with smart routing, direct port access, and priority bookings, keeping your cargo on the move.</p>
                        </div>
                    </div>
                </div>
                <!-- end features box item -->
                <!-- start features box item -->
                <div class="col custom-icon-with-text-style-02 border-end border-color-transparent-dark-very-light md-border-end-0 md-mb-30px">
                    <div class="feature-box last-paragraph-no-margin">
                        <div class="feature-box-icon">
                            <img class="custom-image-icon mb-30px" src="{%  static 'images/confidence.png' %}" alt="icon" />
                        </div>
                        <div class="feature-box-content">
                            <span class="d-block fs-20 fw-600 text-dark-gray mb-10px">Confidence in Complexity</span>
                            <p class="w-80 xl-w-100 mx-auto">From out-of-gauge machinery to regulated cargo, we handle shipments that require planning, accuracy, and control.</p>
                        </div>
                    </div>
                </div>
                <!-- end features box item -->
                <!-- start features box item -->
                <div class="col custom-icon-with-text-style-02 border-end border-color-transparent-dark-very-light xs-border-end-0 xs-mb-30px">
                    <div class="feature-box last-paragraph-no-margin">
                        <div class="feature-box-icon">
                            <img class="custom-image-icon mb-30px" src="{%  static 'images/coordination.png' %}" alt="icon" />
                        </div>
                        <div class="feature-box-content">
                            <span class="d-block fs-20 fw-600 text-dark-gray mb-10px">Single-Point Coordination</span>
                            <p class="w-80 xl-w-100 mx-auto">One team, one workflow, we manage your cargo from pickup to final delivery without unnecessary handovers.</p>
                        </div>
                    </div>
                </div>
                <!-- end features box item -->
                <!-- start features box item -->
                <div class="col custom-icon-with-text-style-02">
                    <div class="feature-box last-paragraph-no-margin">
                        <div class="feature-box-icon">
                            <img class="custom-image-icon mb-30px" src="{%  static 'images/strategic.png' %}" alt="icon" />
                        </div>
                        <div class="feature-box-content">
                            <span class="d-block fs-20 fw-600 text-dark-gray mb-10px">Strategic UAE Advantage</span>
                            <p class="w-80 xl-w-100 mx-auto">Based in the Jebel Ali Freezone, we operate at the heart of global trade routes with access to major sea, land, and air connections.</p>
                        </div>
                    </div>
                </div>
                <!-- end features box item -->
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section --> 
    <section class="py-0 sm-pt-50px" data-anime='{ "opacity": [0,1], "duration": 800, "staggervalue": 300, "easing": "easeOutQuad" }'>
        <div class="container overlap-section">
            <div class="row justify-content-center g-0">
                <div class="col-auto text-center pt-15px pb-15px ps-40px pe-40px md-ps-25px md-pe-25px bg-white border border-color-extra-medium-gray box-shadow-medium-bottom border-radius-100px xs-border-radius-10px">
                    <div class="feature-box feature-box-left-icon-middle">
                        <div class="feature-box-content text-dark-gray fs-18">
                            Let's move your cargo the right way. <a href="{% url 'contact' %}" class="text-dark-gray fw-600">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- start section -->
    <section class="pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 md-mb-50px sm-mb-30px" data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'> 
                    <span class="fs-16 text-uppercase text-base-color fw-600 mb-5px d-block">What We Deliver</span>
                    <h3 class="fw-700 mb-0 text-dark-gray ls-minus-2px w-85">Practical Logistics That Work</h3>
                </div>
                <div class="col-lg-7" data-anime='{ "el": "childs", "translateY": [15, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="fs-20 fw-600 text-dark-gray ls-minus-05px w-85 xl-w-100 sm-mb-10px">Speed That Keeps You Ahead</div>
                        </div>
                        <div class="col-md-7 last-paragraph-no-margin">
                            <p>We keep your cargo moving with minimal delays through priority bookings and efficient route planning.</p>
                        </div>
                    </div>
                    <div class="separator-line-1px border-bottom border-color-extra-medium-gray mt-30px mb-30px"></div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="fs-20 fw-600 text-dark-gray ls-minus-05px w-85 xl-w-100 sm-mb-10px">Clarity in Every Step</div>
                        </div>
                        <div class="col-md-7 last-paragraph-no-margin">
                            <p>From pricing to process, we provide clear communication and real-time visibility at every stage.</p>
                        </div>
                    </div>
                    <div class="separator-line-1px border-bottom border-color-extra-medium-gray mt-30px mb-30px"></div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="fs-20 fw-600 text-dark-gray ls-minus-05px w-85 xl-w-100 sm-mb-10px">Capability You Can Count On</div>
                        </div>
                        <div class="col-md-7 last-paragraph-no-margin">
                            <p>Whether it's vehicles, oversized freight, or sensitive goods, we handle complex logistics with confidence.</p>
                        </div>
                    </div>
                    <div class="separator-line-1px border-bottom border-color-extra-medium-gray mt-30px mb-30px"></div>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/footer.html' %}

    <!-- javascript libraries -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendors.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>