<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

    <title>Grandevoyager</title>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/logo/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/logo/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/logo/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/logo/site.webmanifest' %}">

    <!-- google fonts preconnect -->
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- style sheets and font icons  -->
    <link rel="stylesheet" href="{% static 'css/vendors.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/icon.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
    <link rel="stylesheet" href="{% static 'demos/green-energy/green-energy.css' %}"/>
	
<style>
    .service-banner{
        background-image: url("{% static 'images/service-banner.png' %}");
    }
</style>
</head>
<body data-mobile-nav-style="classic">

    {% include 'components/navbar.html' %}

    <!-- banner -->
    <section class="top-space-margin overflow-hidden p-0 bg-very-light-gray page-title-big-typography">
        <div class="container-fluid p-0">
            <div class="row justify-content-center small-screen sm-h-400px g-0">
                <div class="col-md-6 d-flex justify-content-center flex-column ps-7 pe-15px sm-ps-15px cover-background banner-background text-white text-md-start text-center page-title-large" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                    <h1 class="fw-600 mb-10px ls-minus-2px">{{ service.service_title }}</h1>
                </div>
                <div class="col-md-6">
                    <div class="h-100 position-relative cover-background sm-pt-50px service-banner" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- start section -->
    <section>
        <div class="container">
            <div class="row align-items-center justify-content-center" data-anime='{ " perspective": 1200 }'>
                <div class="col-lg-6 md-mb-40px" data-anime='{ "translateY": [0, 0], "zoom": [1.1, 1], "rotateX": [50, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <figure class="position-relative m-0">
                        <img src="{{ service.service_image.url }}" alt="" class="w-100 border-radius-5px">
                    </figure>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6 col-md-12" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <div class="mb-10px">
                        <span class="w-30px h-2px fs-15 d-inline-block bg-base-color me-5px align-middle"></span>
                        <span class="text-uppercase text-base-color fs-16 fw-600 d-inline-block">Professional solutions</span>
                    </div>
                    <h3 class="text-dark-gray fw-700 ls-minus-2px">{{ service.service_title }}</h3>
                    <p class="w-100 md-w-100 mb-35px">
                        {{ service.service_description|safe }}
                    </p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- start section -->
    <section>
        <div class="container">
            <div class="row align-items-center" data-anime='{ "translateY": [0, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <div class="col-12">
                    <div class="bg-very-light-green p-9 md-p-6 xs-p-9 border-radius-6px overflow-hidden position-relative">
                        <span class="fs-16 text-uppercase text-base-color fw-600 mb-5px d-block">Professional solutions</span>
                        <h3 class="fw-700 text-dark-gray ls-minus-2px">Frequently asked questions</h3> 
                        <div class="accordion accordion-style-02" id="accordion-style-02" data-active-icon="icon-feather-minus" data-inactive-icon="icon-feather-plus">
                            
                            <!-- start accordion item -->
                            <div class="accordion-item active-accordion">
                                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-01" aria-expanded="true" data-bs-parent="#accordion-style-02">
                                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                            <i class="feather icon-feather-minus fs-20"></i><span class="fs-18 fw-600">{{ service.faq_question_1 }}</span>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-02-01" class="accordion-collapse collapse show" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                                        <p class="w-90 sm-w-95 xs-w-100">{{ service.faq_answer_1 }}</p>
                                    </div>
                                </div>
                            </div>

                            {% if service.faq_question_2 and service.faq_answer_2 %}
                            <div class="accordion-item">
                                <div class="accordion-header border-bottom border-color-transparent-dark-very-light">
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-02" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                            <i class="feather icon-feather-plus fs-20"></i><span class="fs-18 fw-600">{{ service.faq_question_2 }}</span>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-02-02" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent-dark-very-light">
                                        <p class="w-90 sm-w-95 xs-w-100">{{ service.faq_answer_2 }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                            {% if service.faq_question_3 and service.faq_answer_3 %}
                            <div class="accordion-item">
                                <div class="accordion-header border-bottom border-color-transparent">
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-03" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                            <i class="feather icon-feather-plus fs-20"></i><span class="fs-18 fw-600">{{ service.faq_question_3 }}</span>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-02-03" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                        <p class="w-90 sm-w-95 xs-w-100">{{ service.faq_answer_3 }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            
                            {% if service.faq_question_4 and service.faq_answer_4 %}
                            <div class="accordion-item">
                                <div class="accordion-header border-bottom border-color-transparent">
                                    <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-04" aria-expanded="false" data-bs-parent="#accordion-style-02">
                                        <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                            <i class="feather icon-feather-plus fs-20"></i><span class="fs-18 fw-600">{{ service.faq_question_4 }}</span>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-02-04" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                        <p class="w-90 sm-w-95 xs-w-100">{{ service.faq_answer_4 }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div> 
            </div>
            <div class="row mt-5">
                <div class="col-12 text-center" data-anime='{ "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <i class="bi bi-envelope text-dark-gray d-inline-block align-middle icon-extra-medium me-5px"></i>
                    <div class="fs-18 text-dark-gray d-inline-block align-middle fw-500">Save your precious time and effort spent for finding a solution. <a href="{% url 'contact' %}" class="text-dark-gray text-decoration-line-bottom fw-600">Contact us now</a></div>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/footer.html' %}

    <!-- javascript libraries -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendors.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>