{% load static %}

<!-- start footer -->
<footer class="bg-dark-gray pb-30px">
    <div class="container">
        <div class="row mb-5 xs-mb-30px">
            <div class="col-xl-5 col-md-7 sm-mb-30px order-2 order-xl-1">
                <h3 class="text-white fw-600 mb-30px ls-minus-2px">Grande by Name, Grand in Service</h3>
                <div class="row">
                    <div class="col-xxl-5 col-sm-6 sm-mb-20px">
                        <span class="fs-18 fw-500 text-white d-block">Say hello</span>
                        <a href="mailto:Vallath@grandevoyager.com" style="font-size: 0.9rem">Vallath@grandevoyager.com</a>
                    </div>
                    <div class="col-xxl-5 col-sm-6">
                        <span class="fs-18 fw-500 text-white d-block">Call anytime</span>
                        <a href="tel:+971553698223">+971 55 369 8223</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-6 order-3 order-md-2">
                <span class="fs-18 fw-500 d-block text-white mb-5px">Quick links</span>
                <ul>
                    <li><a href="">Our company</a></li>
                    <li><a href="">Our services</a></li>
                    <li><a href="">Recent projects</a></li>
                    <li><a href="">Latest news</a></li>
                    <li><a href="">Contact us</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-6 order-3 order-md-3">
                <span class="fs-18 fw-500 d-block text-white mb-5px">Socials</span>
                <ul>
                    <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                    <li><a href="http://www.twitter.com" target="_blank">Twitter</a></li>
                    <li><a href="http://www.whatsapp.com" target="_blank">Whatsapp</a></li> 
                    <li><a href="http://www.instagram.com" target="_blank">Instagram</a></li>
                    <li><a href="http://www.linkedin.com" target="_blank">Linkedin</a></li>
                </ul>
            </div>
            <div class="col-xl-3 order-1 order-xl-4 lg-mb-30px">
                <a href="{% url 'home' %}" class="footer-logo"><img src="{% static 'images/logo/main-logo-white.png' %}" data-at2x="{% static 'images/logo/main-logo-white.png' %}" alt="footer-logo"></a>
            </div>
        </div>
        <div class="row g-0 border-top border-color-transparent-white-light"></div>
        <div class="row align-items-center footer-bottom pt-30px">
            <div class="col-md-7 last-paragraph-no-margin">
                <p class="fs-14 lh-24 w-90 sm-w-100">© Copyright 2025, All Rights Reserved. Powered By <a href="https://www.ecodians.com/" target="_blank">Ecodians</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- start scroll progress -->
<div class="scroll-progress d-none d-xxl-block">
    <a href="#" class="scroll-top" aria-label="scroll">
        <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
    </a>
</div>